body {
    margin: 0;
}

header {
    background-color: #1f2937;
    padding: 8px;
}

.navbar {
    display: flex;
    padding: 0 134px;
}

.nav-item {
    padding: 0 8px;
    color: #e5e7eb;
    font-size: 18px;
}

.nav-item.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.nav-item.first {
    margin-left: auto;
}

.first-container {
    display: flex;
    padding: 70px 150px;
    background-color: #1f2937;
}

.first-container .text {
    width: 400px;
    padding-right: 60px;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.first-container .text p {
    color: #e5e7eb;
    font-size: 18px;
}

.first-container .text button {
    background-color: #3882f6;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    border: 8px solid #3882f6;
    color: #f9faf8;
    font-weight: 24px;
}

.first-container .image {
    height: 220px;
    width: 500px;
    border: 2px solid #3882f6;
    border-radius: 20px;
}

.random-container {
    padding: 0 300px 150px;
}
h4 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.item-container {
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: auto;
}

.random-item {
    flex-direction: column;
    height: 80px;
    width: 100px;
}

.random-item .image {
    height: 100px;
    width: 100px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}

.random-item .text {
    font-size: 14px;
    color: grey;
}
